
<!DOCTYPE html>
<html lang="en">
{% load crispy_forms_tags %}

<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Category</title>
     <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body>
     <div class="category container mt-5">
          <div class="row">
          
                    
                    <div class="col-md-4">
                         <form action="" method="POST">
                              {% csrf_token %}
                         <h1>Create Category</h1>
                         <div class="col-sm-12">
                              {{form.user|as_crispy_field}}
                         </div>
     
                         <div class="col-sm-12">
                              {{form.name|as_crispy_field}}
                         </div>

                         <button type="submit" class="btn btn-success">Create</button>
                         </form>
                    </div>

                    <div class="col-md-4">
                         <table class="table table-bordered table-hover">
                              <thead>
                                   <tr>
                                        <th>Id</th>
                                        <th>User</th>
                                        <th>Category</th>
                                        <th>Actions</th>
                                   </tr>
                              </thead>

                              <tbody>
                                   {% for category in categories %}
                                   <tr>
                                        
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ category.user }}</td>
                                        <td>{{ category.name }}</td>
                                        <td>
                                             <button class="btn btn-primary">Change</button>
                                             <button class="btn btn-danger">Delete</button>
                                        </td>
                                   </tr>
                                   {% endfor %}
                              </tbody>

                         </table>
                    </div>
                    <div class="col-md-4"></div>
                   

               </div>

          <a href="{% url 'logout' %}"><button class="btn btn-danger mt-3">Logout</button></a>
             



     </div>

     
</body>
</html>

